<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>{{comments}}</p>
  <p>
    <p id="commentField">Comments</p>
    <span class="comment-content">
    {{#each comments}}
    <div class="comment">
    <p>{{comment_content}}</p>
    </div>
    {{/each}}
    </span>
    <form class="commentForm" id={{id}}>
      <label for="comment">Comment</label>
      <input type="text" id="commentInput"><br><br>
      <button class="btn btn-primary" id="commentButton">Post a Comment!</button>
    </form>
  </p>
</div>
  <script src="/js/comment.js"></script>